body {
    font-family: 'Roboto', sysem-ui;
    height: 100vh;
    display: grid;
    grid-template-rows: 5lh 1fr 4lh;
    background-color: #e2e8f0;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    box-shadow: 1px 1px 5px darkgrey;
    padding: 0px 40px;
}

.footer {
    background-color: #1992d4;
    display: grid;
    place-items: center;
}

.footer > h2 {
    color: white;
    font-size: small;
    font-weight: 500;
    text-align: center;
    line-height: 1.2lh;
}

.footer a:link, .footer a:visited {
    color: white;
}

h1 {
    flex: auto;
    color: #1474a9;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
    padding: 40px;
    overflow: auto;
    height: stretch;
}

.card {
    background-color: white;
    border-left: solid 6px;
    border-color: orange;
    border-radius: 6px;
    box-shadow: 1px 1px 3px darkgrey;
    width: 150px;
    height: 200px;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    outline: solid 2px orange;
}

.card > p {
    font-size: small;
}

.separator {
    width: 100px;
    border-top: solid 2px;
    border-color: inherit;
    justify-self: center;
}

.selected {
    border-color: orangered;
    outline: solid 2px orangered !important;
}

#add-book-dialog {
    border: 3px solid darkorange;
}

#add-book-dialog > form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    justify-items: left;
}

input[type="radio"] {
    margin: 0px;
}

input:not([type="radio"]) {
    border-radius: 5px;
    border: 1px solid;
    padding: 2px 5px;
}

fieldset {
    display: flex;
    gap: 15px;
    grid-column: 1 / -1;
    justify-self: center;
}

fieldset > label {
    display: flex;
    gap: 3px;
}

form > h2 {
    grid-column: 1 / -1;
    justify-self: center;
    margin: 0px;
}

.dialog-buttons {
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    gap: 15px;
}

button {
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 25px;
    background-color: #1992d4;
    color: white;
}

button:hover {
    outline: solid 2px #1992d4;
}

button:active {
    outline: solid 2px darkorange;
    background-color: darkorange;
}