body {
    height: 100vh;
    display: grid;
    grid-template-rows: 3lh 1fr;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

h1 {
    flex: auto;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: pink;
    outline: solid 1px blue;
    width: 150px;
    height: 200px;
    text-align: center;
}

#add-book-dialog > form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    justify-items: left;
}

input[type="radio"] {
    margin: 0px;
}

fieldset {
    display: flex;
    gap: 15px;
    grid-column: 1 / -1;
    justify-self: center;
}

fieldset > label {
    display: flex;
    gap: 3px;
}

form > h2 {
    grid-column: 1 / -1;
    justify-self: center;
    margin: 0px;
}

.dialog-buttons {
    grid-column: 1 / -1;
    justify-self: right;
    display: flex;
    gap: 15px;
}